.nav-bar ul li {
    color: black;
    display: inline-block;
    list-style-type: none;
    position: relative;
   top: -38.5px;
    right: -196px;
    font-family: open sans;
    padding :27px 14px 27px 14px ;
    font-weight: 600;
    
}
.nav-bar li a {
    color: black;
  
}

.current a {
    border-bottom: #02a6d6 solid;
    border-bottom-width: 4.5px;
    padding-bottom: 3px;
}
.nav-bar a:hover  {
    border-bottom: #02a6d6 solid;
    border-bottom-width: 4.5px;
    padding-bottom: 3px;
    transition: all .2s ease-out;
}
.featured h2 {
  color: white;
  font-family: open sans;
  font-size: 2rem;
  padding-left: 40px;
  padding-top: 27px;
  letter-spacing: 0.5px;
  font-weight: 700;
  
}
.logo {
    position: relative;
    top:40px;
    right: -34px;
}
header {
    background: white;

}
body {
    background: black;


}
html { height: 100%;}
* {margin: 0;
 padding: 0;}
 .main-content {
   margin: 0 ;

 }
 .cards {
     display: flex;
     flex-wrap: wrap;
     padding-left: 36px;
     padding-right: 20px;
    padding-top: 4px;

    
 }
 .card {
    width: 32%;
  margin: 6px;
  position: relative;
  color: white;
  padding-top: -0.1px;
  overflow: hidden;
  margin-right: 4px ;
     margin-left: 4px;
     margin-bottom: 2px;
     margin-top: 2px;
 }
 .card :hover {
 opacity: 0.8;
 transform: scale(1.03);
 transition-delay: 0s;
 transition-timing-function: ease-out;

 }
 .card img  {
     
     width: 100%;
     transition: 0.2s ease-out;
     
     

 }
 .info {
     color: white;
     font-family: open sans;
     width: 100%;
     padding:10px 0 10px 10px ;
     position: absolute;
     bottom: 0;
     background: linear-gradient(
        180deg
        ,transparent,rgba(0,0,0,.5) 50%,rgba(0,0,0,.8));
        
     
  
   
     
 }

.info p:first-of-type {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.info p:last-of-type {
    font-size: 14px;
    font-weight: lighter;
}
.details h2 {
    font-family: open sans;
    font-weight: 700;
    color: white;
    font-size: 32px;
    letter-spacing: 0.5px;
    padding-top: 40px;
}
.details p {
    font-family: open sans;
    font-weight: 300;
    color: white;
    font-size: 17px;
    letter-spacing: 0.1px;
    line-height: 1.8em;
    padding-top: 4px;
    
}
#last {
    padding-bottom: 90px;

}
.links ul li {
    list-style: none;
 
  
    display: inline-block;
    padding-left: 40px;
     font-size: 14px;
    align-items: center;
 

  
}

.links ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px ;
    padding-left: 220px;
    margin: auto;
    align-content: center;
    
   
}
.links {
    background-color: #202020;
    width:100%;
    height: 200px;
    font-family: open sans;
}
#links p {
    color: grey;
    font-size: 11.5px;
    position: relative;
    right: -430px;
    padding-top: 33px;
}
.links a {
    color: white;
 
}
.links :hover {
    color: #007cba;
}

footer {
   padding: 30px 400px 0 600px ;

}
.statement {
    color: white;
    opacity: 0.8;
    font-size: 14px;
    font-family: open sans;
    position: relative;
    left: -45px;
    bottom: -30px;
    letter-spacing: 0.5px;
}
.icons img {
    width: 80px;
    opacity: 0.5;
  
    padding-top: 40px;

    
}
.channel :hover {
    opacity: 0.8;
}
.icons {
   
    display: flex;
   padding-left: 50px;

}
.channel {
    padding: 10px 65px 60px 20px;
    position: relative;
   right: 400px;
}